body {
	background: #e3cfff;
	font-family: Nunito;
}

body > * {
	height: auto;
}

#AcctInfo {
	padding-top: 5%;
	padding-bottom: 4%;
	color: black;
	font-family: Nunito;
	text-align: center;
}

.container {
	font-family: Nunito;
}

#back-button{
	margin-left: 10px;
	margin-top: 10px;
}
#password, #email {
	background-color: #ededed;
	font-family: Nunito;

}

@media screen and (max-width: 700px) {
	body {
		margin: 0px;
		font-size: 1.25em;
	}
	form {
		font-size: .5em;
	}
	input {
		width: 85%;
	}
	form > * {
		margin-bottom: 5%;
	}
	#goBack {
		font-size: .35em;
		font-family: Nunito;

	}
	#signUp {
		color: #5B3B8C;
		text-decoration: none;
		font-weight: 900;
		font-family: Nunito;
	}
	.btn-primary {
		font-weight: bold;
		background-color: #5B3B8C;
		color: white;
		cursor: pointer;
		line-height: 150%;
		width: 60%;
		margin: auto;
		border-radius: 25px;
		font-family: Nunito;

	}
}
