* {
    background-color: white;
}
h1 {
  background-color: #e3cfff;
  padding-bottom: 10px;
}
.navbar {
	background-color: #401F68;
	color: white;
	font-weight: 600;
}
.navbar-brand {
	color: white;
}
.nav-link {
	color: white;
}
.navbar-toggler {
	background-color: white;
}
.profile-img {
  width: 25%;
  margin-top: 15px;
  height: auto;
  display: block;
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}


.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium black;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }
  
  .type_msg {border-top: 2px solid black;position: absolute; bottom: 0; width: 100%;}
  .msg_send_btn {
    background: blue none repeat scroll 0 0;
    border-radius: 25%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 10px;
    top: 11px;
    width: 60px;
    bottom: 0;
  }


  .profile-name{
    text-align: center;
    font-size: .6em;
    background-color: #e3cfff;
  }

  .messages{
    float: right;
    padding-right: 20px;
  }
hr {
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0;
	border: 2px solid #401F68;
}

.msj.macro {
  margin-left: 20px;
}

.ltext {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 35%;
  background-color: #e3e3e3;
  color: black;
  margin-top: 20px;
}

.mytext {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 40%;
  background-color: #401F68; 
  position: absolute; 
  color: white;
  right: 20px;
}
