.btn-primary {
	margin-bottom: 8px;
	margin-top: 4px;
}

.field {
	margin-bottom: 10px;
	margin-top: 10px;
}

body {
	font-family: Nunito;
	font-size: 20px;
}

select {
	color: gray;
	font-size: 20px;
}

h1 {
	padding-top: 4%;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 16px;
	font-style: italic;
	padding-bottom: 2%;
}

 {
	width: 20px;
	height: 20px;
}

.required{
	color: red;
}

#back-button{
	margin-left: 10px;
	margin-top: 10px;
}

#fname, #lname, #password, #password_confirm, #email, #gray{
	background-color: #ededed;
}

#year, #residence {
	border-radius: 5px;
}

#year {
	margin-bottom: 4%;
	background-color: #4a4949;

}

#submit {
	margin-bottom: 6%;
}



/* body {
	background: #e3cfff;
	font-family: 'Montserrat Alternates', sans-serif;
}

body > * {
	height: auto;
}

h1 {
	padding-top: 5%;
	padding-bottom: 4%;
	background-color: #5B3B8C;
	color: white;
	font-weight: bold;
	text-align: center;
}

.required {
	display: inline;
	color: red;
}

#confirmPassword {
	display: inline;
}

@media screen and (max-width: 700px) {
	body {
		margin: 0px;
		font-size: 1.25em;
	}
	form {
		font-size: .5em;
		padding-left: 5%;
	}
	input {
		width: 85%;
	}
	form > * {
		margin-bottom: 5%;
	}
	#goBack {
		font-size: .65em;
		margin-left: 5%;
	}
	#signIn {
		color: #5B3B8C;
		text-decoration: none;
		font-weight: 900;
	}
	.btn-primary {
		font-weight: bold;
		background-color: #5B3B8C;
		color: white;
		cursor: pointer;
		line-height: 150%;
		width: 60%;
		margin: auto;
		margin-left: 10%;
		border-radius: 25px;
	}
	.a {
		font-size: 1.5em;
		font-weight: bold;
	}
	[type="checkbox"] {
		width: 5%;
	}
} */
