
body > *{
	margin-left: 5%;
}

#AcctInfo {
	margin-top: 5%;
	margin-bottom: 4%;
}

.required {
	display: inline;
	color: red;
}

@media screen and (max-width: 700px) {
	body {
		font-size: 1em;
	}
	form {
		font-size: .5em;
	}
	form > label {
		margin-bottom: 2%;
	}
	form > input {
		margin-bottom: 2%;
		margin-top: 2%;
		width: 85%;
	}
}