.btn-primary {
	margin-bottom: 8px;
	margin-top: 4px;
}

.field {
	margin-bottom: 10px;
	margin-top: 10px;
}

body {
	font-family: Nunito;
	font-size: 24px;
}


select {
	color: gray;
	font-size: 20px;
}

h1 {
	margin-top: 4%;
	font-weight: bold;
	text-align: center;
	font-weight: 700;
	background-color: #4E2A84;
	color: white;
}

h2 {
	font-size: 16px;
	font-style: italic;
	padding-bottom: 2%;
}

.required{
	color: red;
}

#back-button{
	margin-left: 10px;
	margin-top: 10px;
}

#fname, #lname, #password, #password_confirm, #email, #gray, #year{
	background-color: #ededed;
	border-color: #4E2A84;
}

#year, #residence {
	border-radius: 5px;
	border-color: #4E2A84;
}

#year {
	margin-bottom: 1%;
	color: gray;
}

#submit {
	margin-bottom: 6%;
}

#goBack {
font-size: 20px;
}

.BTN {
	width: 70%;
	border-radius: 25px;
	margin-right: 15%;
	margin-left: 15%;
	background-color: #4E2A84;
	color: white;
	font-weight: 700;
	border-color: #4E2A84;
}
#signIn {
	color: #4E2A84;
}
